.mytitle {
  color: white;
  text-align: center;
  background-image: url('http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  border-radius: 10px;

  /* display flex를 쓸 때엔 아래 네 줄이 항상 묶여 다닙니다. */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/
.mytitle > h1 {
  margin: 0 0 0 0;
}

.mytitle > h5 {
  margin: 0 0 0 0;
}
body{ width: 300px;
 margin:0 auto 0 auto;
}
*{
  font-family: 'Yeon Sung', cursive;
}